<h1> <%= @question.title %> </h1>
<h2> <%= @question.description %> </h2>

<% if @answers.empty? %>
  <h3>No answers for this question yet. Think you can answer it? <%= link_to 'Answer this Question', new_question_answer_path(@question) %> </h3>
<% else %>
  <% @answers.each do |answer| %>
    <h3> <%= answer.answer %> </h3>
  <% end %>
  <%= link_to 'Answer this Question', new_question_answer_path(@question) %>
<% end %>

<%= link_to 'Edit question', edit_question_path %>
<%= link_to 'Delete question', @question, method: :delete, data: { confirm: "Are you sure you want to delete this question? This question and all of its answers will be destroyed and will be unable to be recovered. Confirm?" } %>
<%= link_to 'Back to questions', questions_path %>
