<!DOCTYPE html>
<html>
  <head>
    <title>Homework Helper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav id="nav-bar" data-topbar role="navigation">
      <div class="title-area" >
        <h1 class="site-name"><a href="/questions">Homework Helper</a></h1>
        <div class="search-bar">
          A Search bar will go here
        </div>
        <div class="users">
          A button to users will go here
        </div>
        <div class="login-options">
          <div class="login">
            A button to log in will be here
          </div>
          <div class="sign-up">
            A button to sign up will be here
          </div>
        </div>
      </div>
    </nav>
    <div class="nav-bar-spacer">

    </div>
    <% if flash[:notice] %>
      <h2 class="flash-notice"><%= flash.notice %></h2>
    <% end %>
    <%= yield %>
  </body>
</html>
