<!DOCTYPE html>
<html>
  <head>
    <title>Homework Helper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav id="nav-bar" data-topbar role="navigation">
      <div class="title-area" >
        <div class="name">
          <h1><a href="/questions">Homework Helper</a></h1>
        </div>
      </div>
    </nav>
    <div class="nav-bar-spacer">

    </div>
    <% if flash[:notice] %>
      <h2><%= flash.notice %></h2>
    <% end %>
    <%= yield %>
  </body>
</html>
