<!DOCTYPE html>
<html>
  <head>
    <title>Homework Helper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav id="nav-bar" data-topbar role="navigation">
      <div class="title-area" >
        <h1 class="site-name"><a href="/questions">Homework Helper</a></h1>
        <div class="search-bar">
          A Search bar will go here
        </div>
        <div class="users-button">
          <%= button_to "Users", users_path, method: "get" %>
        </div>
        <% if user_signed_in? %>
          <div class="log-out-button">
            <%= button_to 'Sign Out', destroy_user_session_path, :method => :delete %>
          </div>
        <% else %>
          <div class="login-options">
            <div class="sign-up-button">
              <%= button_to "Sign Up", new_user_registration_path, method: "get" %>
            </div>
            <div class="login-button">
              <%= button_to "Log In", new_user_session_path, method: "get" %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
    <div class="nav-bar-spacer">

    </div>
    <% if flash[:notice] %>
      <div id="flash-notice">
        <%= flash.notice %>
      </div>
      <script type="text/javascript">
        $(document).ready(function(){
          setTimeout(function(){
            $('#flash-notice').fadeOut();
          }, 3000);
        })
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
